[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Restart gnome keyring first boot
Comment=retart gnome keyring daemon on first boot
Exec=restart-gnome-keyring-mx.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

