Package: desktop-defaults-xfce-mx
Version: 0.3.3.1
Architecture: all
Maintainer: anticapitalista <antiX@operamail.com>
Installed-Size: 403
Recommends: lightdm
Section: system
Priority: optional
Homepage: http://antix.mepis.org
Description: desktop defaults for MX-15 Xfce.
