Source: desktop-defaults-mx-xfce
Section: system
Priority: optional
Maintainer: dolphinoracle <dolphinoracle@gmail.com>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.4
Homepage: http://antix.mepis.org

Package: desktop-defaults-mx-xfce
Architecture: all
Conflicts:  desktop-defaults-xfce-mx17
Replaces:  desktop-defaults-xfce-mx17
Depends:  desktop-defaults-mx-xfce-desktop, desktop-defaults-mx-xfce-system
Recommends: lightdm
Description: Metapackage for desktop defaults for MX Linux Xfce.

Package:  desktop-defaults-mx-xfce-system
Architecture:  all
Conflicts:  desktop-defaults-mx-xfce (<<19.09.02)
Replaces:  desktop-defaults-mx-xfce
Description:  xfce system defaults for MX

Package:  desktop-defaults-mx-xfce-desktop
Architecture:  all
Conflicts:  desktop-defaults-mx-xfce (<<19.09.02)
Replaces:  desktop-defaults-mx-xfce
Description:  xfce desktop defaults for MX
