[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=tumblerdwatcher-start
Comment=start tumblerdwatcher to check and kill tumblerd process if a loop is suspected
Exec=/usr/local/bin/tumblerdwatcher
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

