Package: desktop-defaults-xfce-mx16
Version: 0.3.10
Architecture: all
Maintainer: anticapitalista <antiX@operamail.com>
Installed-Size: 503
Recommends: lightdm
Section: system
Priority: optional
Homepage: http://antix.mepis.org
Description: desktop defaults for MX-16 Xfce.
